<!--
     ============LICENSE_START=======================================================
     Copyright © 2019 AT&T Intellectual Property. All rights reserved.
     ================================================================================
     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
           http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
     ============LICENSE_END=========================================================
 -->

<configuration scan="true" scanPeriod="3 seconds" debug="false">
  <contextName>${module.ajsc.namespace.name}</contextName>
  <jmxConfigurator />
  <property name="logDirectory" value="${AJSC_HOME}/log" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="DEBUG" class="ch.qos.logback.core.ConsoleAppender">

    <encoder>
      <pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
    </encoder>
  </appender>

  <appender name="ERROR" class="ch.qos.logback.core.ConsoleAppender"> class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
    </encoder>
  </appender>


  <!-- Msgrtr related loggers -->
  <logger name="org.onap.dmaap.dmf.mr.service" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.service.impl" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.resources" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.resources.streamReaders" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.backends" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.backends.kafka" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.backends.memory" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.beans" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.constants" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.exception" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.listener" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.metabroker" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.metrics.publisher" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.metrics.publisher.impl" level="INFO" />



  <logger name="org.onap.dmaap.dmf.mr.security" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.security.impl" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.transaction" level="INFO" />
  <logger name="com.att.dmf.mr.transaction.impl" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.metabroker" level="INFO" />
  <logger name="org.onap.dmaap.dmf.mr.metabroker" level="INFO" />

  <logger name="org.onap.dmaap.dmf.mr.utils" level="INFO" />
  <logger name="org.onap.dmaap.mr.filter" level="INFO" />

  <!--<logger name="com.att.nsa.cambria.*" level="INFO" />-->

  <!-- Msgrtr loggers in ajsc -->
  <logger name="org.onap.dmaap.service" level="INFO" />
  <logger name="org.onap.dmaap" level="INFO" />


  <!-- Spring related loggers -->
  <logger name="org.springframework" level="WARN" additivity="false"/>
  <logger name="org.springframework.beans" level="WARN" additivity="false"/>
  <logger name="org.springframework.web" level="WARN" additivity="false" />
  <logger name="com.blog.spring.jms" level="WARN" additivity="false" />

  <!-- AJSC Services (bootstrap services) -->
  <logger name="ajsc" level="WARN" additivity="false"/>
  <logger name="ajsc.RouteMgmtService" level="INFO" additivity="false"/>
  <logger name="ajsc.ComputeService" level="INFO" additivity="false" />
  <logger name="ajsc.VandelayService" level="WARN" additivity="false"/>
  <logger name="ajsc.FilePersistenceService" level="WARN" additivity="false"/>
  <logger name="ajsc.UserDefinedJarService" level="WARN" additivity="false" />
  <logger name="ajsc.UserDefinedBeansDefService" level="WARN" additivity="false" />
  <logger name="ajsc.LoggingConfigurationService" level="WARN" additivity="false" />

  <!-- AJSC related loggers (DME2 Registration, csi logging, restlet, servlet
    logging) -->
  <logger name="ajsc.utils" level="WARN" additivity="false"/>
  <logger name="ajsc.utils.DME2Helper" level="INFO" additivity="false" />
  <logger name="ajsc.filters" level="DEBUG" additivity="false" />
  <logger name="ajsc.beans.interceptors" level="DEBUG" additivity="false" />
  <logger name="ajsc.restlet" level="DEBUG" additivity="false" />
  <logger name="ajsc.servlet" level="DEBUG" additivity="false" />
  <logger name="com.att" level="WARN" additivity="false" />
  <logger name="com.att.ajsc.csi.logging" level="WARN" additivity="false" />
  <logger name="com.att.ajsc.filemonitor" level="WARN" additivity="false"/>

  <logger name="com.att.nsa.dmaap.util" level="INFO" additivity="false"/>
  <logger name="com.att.cadi.filter" level="INFO" additivity="false" />


  <!-- Other Loggers that may help troubleshoot -->
  <logger name="net.sf" level="WARN" additivity="false" />
  <logger name="org.apache.commons.httpclient" level="WARN" additivity="false"/>
  <logger name="org.apache.commons" level="WARN" additivity="false" />
  <logger name="org.apache.coyote" level="WARN" additivity="false"/>
  <logger name="org.apache.jasper" level="WARN" additivity="false"/>

  <!-- Camel Related Loggers (including restlet/servlet/jaxrs/cxf logging.
    May aid in troubleshooting) -->
  <logger name="org.apache.camel" level="WARN" additivity="false" />
  <logger name="org.apache.cxf" level="WARN" additivity="false" />
  <logger name="org.apache.camel.processor.interceptor" level="WARN" additivity="false"/>
  <logger name="org.apache.cxf.jaxrs.interceptor" level="WARN" additivity="false" />
  <logger name="org.apache.cxf.service" level="WARN" additivity="false" />
  <logger name="org.restlet" level="DEBUG" additivity="false" />
  <logger name="org.apache.camel.component.restlet" level="DEBUG" additivity="false" />
  <logger name="org.apache.kafka" level="DEBUG" additivity="false" />
  <logger name="org.apache.zookeeper" level="INFO" additivity="false" />
  <logger name="org.I0Itec.zkclient" level="DEBUG" additivity="false" />

  <!-- logback internals logging -->
  <logger name="ch.qos.logback.classic" level="INFO" additivity="false"/>
  <logger name="ch.qos.logback.core" level="INFO" additivity="false" />

  <!-- logback jms appenders & loggers definition starts here -->
  <!-- logback jms appenders & loggers definition starts here -->
  <appender name="auditLogs" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    </filter>
    <encoder>
      <pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
    </encoder>
  </appender>
  <appender name="perfLogs" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    </filter>
    <encoder>
      <pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
    </encoder>
  </appender>
  <appender name="ASYNC-audit" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1000</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="Audit-Record-Queue" />
  </appender>

  <logger name="AuditRecord" level="INFO" additivity="FALSE">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="AuditRecord_DirectCall" level="INFO" additivity="FALSE">
    <appender-ref ref="STDOUT" />
  </logger>
  <appender name="ASYNC-perf" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1000</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="Performance-Tracker-Queue" />
  </appender>
  <logger name="PerfTrackerRecord" level="INFO" additivity="FALSE">
    <appender-ref ref="ASYNC-perf" />
    <appender-ref ref="perfLogs" />
  </logger>
  <!-- logback jms appenders & loggers definition ends here -->

  <root level="DEBUG">
    <appender-ref ref="DEBUG" />
    <appender-ref ref="ERROR" />
    <appender-ref ref="INFO" />
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
