{
  "resource-accumulator-resolved-data": [
    {
      "param-name": "service-instance-id",
      "param-value": "${service-instance-id}"
    },
    {
      "param-name": "vnf_id",
      "param-value": "${vnf-id}"
    },
    {
      "param-name": "vnf_name",
      "param-value": "${vnf-name}"
    },
    {
      "param-name": "vnf_model_customization_uuid",
      "param-value": "${vnf-model-customization-uuid}"
    },
    {
      "param-name": "vf_module_id",
      "param-value": "${vf-module-id}"
    },
    {
      "param-name": "vf_module_type",
      "param-value": "${vf-module-type}"
    },
    {
      "param-name": "vf_module_customization_uuid",
      "param-value": "${vf-module-model-customization-uuid}"
    },
    {
      "param-name": "vfc_customization_uuid",
      "param-value": "${vfccustomizationuuid}"
    },
    {
      "param-name": "aic-cloud-region",
      "param-value": "${aic-cloud-region}"
    },
    {
      "param-name": "aic_clli",
      "param-value": "${aic_clli}"
    },
    {
      "param-name": "availability_zone_0",
      "param-value": "${availability_zone_0}"
    },
    {
      "param-name": "vm-type",
      "param-value": "${vm-type}"
    },
    {
      "param-name": "vnfc-model-customization-uuid",
      "param-value": "${vfccustomizationuuid}"
    },
    {
      "param-name": "vnfc-model-invariant-uuid",
      "param-value": "${vnfc-model-invariant-uuid}"
    },
    {
      "param-name": "vnfc-model-version",
      "param-value": "${vnfc-model-version}"
    },
    {
      "param-name": "nfc-function",
      "param-value": "${nf-role}"
    },
    {
      "param-name": "nfc-naming-code",
      "param-value": "${nfc-naming-code}"
    },
    {
      "param-name": "cloud_env",
      "param-value": "openstack"
    },
    {
      "param-name": "key_name",
      "param-value": "${nf-role}_key"
    },
    {
      "param-name": "repo_url_artifacts",
      "param-value": "https://nexus.onap.org/content/groups/staging"
    },
    {
      "param-name": "repo_url_blob",
      "param-value": "https://nexus.onap.org/content/repositories/raw"
    },
    {
      "param-name": "dcae_collector_port",
      "param-value": "8080"
    },
    {
      "param-name": "image_name",
      "param-value": "Ubuntu 14.04 LTS Generic"
    },
    {
      "param-name": "flavor_name",
      "param-value": "m1.medium"
    },
    {
      "param-name": "install_script_version",
      "param-value": "1.2.1-SNAPSHOT"
    },
    {
      "param-name": "demo_artifacts_version",
      "param-value": "1.2.1-SNAPSHOT"
    },
    {
      "param-name": "dcae_collector_ip",
      "param-value": "10.0.4.1"
    },
    {
      "param-name": "pub_key",
      "param-value": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDKXDgoo3+WOqcUG8/5uUbk81+yczgwC4Y8ywTmuQqbNxlY1oQ0YxdMUqUnhitSXs5S/yRuAVOYHwGg2mCs20oAINrP+mxBI544AMIb9itPjCtgqtE2EWo6MmnFGbHB4Sx3XioE7F4VPsh7japsIwzOjbrQe+Mua1TGQ5d4nfEOQaaglXLLPFfuc7WbhbJbK6Q7rHqZfRcOwAMXgDoBqlyqKeiKwnumddo2RyNT8ljYmvB6buz7KnMinzo7qB0uktVT05FH9Rg0CTWH5norlG5qXgP2aukL0gk1ph8iAt7uYLf1ktp+LJI2gaF6L0/qli9EmVCSLr1uJ38Q8CBflhkh"
    },
    {
      "param-name": "public_net_id",
      "param-value": "${public_net_id}"
    },
    {
      "param-name": "unprotected_private_net_id",
      "param-value": "${vnf-name}_unprotected"
    },
    {
      "param-name": "protected_private_subnet_id",
      "param-value": "${protected_private_subnet_id}"
    },
    {
      "param-name": "protected_private_net_id",
      "param-value": "${vnf-name}_protected"
    },
    {
      "param-name": "onap_private_net_id",
      "param-value": "${onap_private_net_id}"
    },
    {
      "param-name": "onap_private_subnet_id",
      "param-value": "${onap_private_subnet_id}"
    },
    {
      "param-name": "unprotected_private_net_cidr",
      "param-value": "${unprotected_private_net_cidr}"
    },
    {
      "param-name": "protected_private_net_cidr",
      "param-value": "${protected_private_net_cidr}"
    },
    {
      "param-name": "onap_private_net_cidr",
      "param-value": "${onap_private_net_cidr}"
    },
    {
      "param-name": "nexus_artifact_repo",
      "param-value": "${nexus_artifact_repo}"
    },
    {
      "param-name": "sec_group",
      "param-value": "${sec_group}"
    },
    {
      "param-name": "vfw_private_ip_1",
      "param-value": "${vfw_private_ip_1}"
    }
  ],
  "capability-data": [
    {
      "capability-name": "generate-name",
      "key-mapping": [
        {
          "payload": [
            {
              "param-name": "resource-name",
              "param-value": "vsn_name_0"
            },
            {
              "param-name": "resource-value",
              "param-value": "${vsn_name_0}"
            },
            {
              "param-name": "external-key",
              "param-value": "${vf-module-id}_vnfc_name"
            },
            {
              "param-name": "policy-instance-name",
              "param-value": "${vf-naming-policy}"
            },
            {
              "param-name": "nf-role",
              "param-value": "${nf-role}"
            },
            {
              "param-name": "naming-type",
              "param-value": "VM"
            },
            {
              "param-name": "VNF_NAME",
              "param-value": "${vnf-name}"
            },
            {
              "param-name": "NFC_NAMING_CODE",
              "param-value": "${nfc-naming-code}"
            }
          ],
          "output-key-mapping": [
            {
              "resource-name": "vsn_name_0",
              "resource-value": "${vsn_name_0}"
            }
          ]
        },
        {
          "payload": [
            {
              "param-name": "resource-name",
              "param-value": "vf_module_name"
            },
            {
              "param-name": "resource-value",
              "param-value": "${vf_module_name}"
            },
            {
              "param-name": "external-key",
              "param-value": "${vf-module-id}"
            },
            {
              "param-name": "policy-instance-name",
              "param-value": "${vf-naming-policy}"
            },
            {
              "param-name": "nf-role",
              "param-value": "${nf-role}"
            },
            {
              "param-name": "naming-type",
              "param-value": "VF-MODULE"
            },
            {
              "param-name": "VNF_NAME",
              "param-value": "${vnf-name}"
            },
            {
              "param-name": "VF_MODUEL_LABLE",
              "param-value": "${vf-module-label}"
            },
            {
              "param-name": "VF_MODUEL_TYPE",
              "param-value": "${vf-module-type}"
            }
          ],
          "output-key-mapping": [
            {
              "resource-name": "vf_module_name",
              "resource-value": "${vf_module_name}"
            }
          ]
        }
      ]
    },
    {
      "capability-name": "netbox-ip-assign",
      "key-mapping": [
        {
          "payload": [
            {
              "param-name": "service-instance-id",
              "param-value": "${service-instance-id}"
            },
            {
              "param-name": "prefix-id",
              "param-value": "${private-prefix-id}"
            },
            {
              "param-name": "vf-module-id",
              "param-value": "${vf-module-id}"
            },
            {
              "param-name": "external_key",
              "param-value": "${vf-module-id}-vsn_private_ip_1"
            }
          ],
          "output-key-mapping": [
            {
              "resource-name": "vsn_private_ip_1",
              "resource-value": "${vsn_private_ip_1}"
            }
          ]
        },
        {
          "payload": [
            {
              "param-name": "service-instance-id",
              "param-value": "${service-instance-id}"
            },
            {
              "param-name": "prefix-id",
              "param-value": "${protected-prefix-id}"
            },
            {
              "param-name": "vf-module-id",
              "param-value": "${vf-module-id}"
            },
            {
              "param-name": "external_key",
              "param-value": "${vf-module-id}-vsn_private_ip_0"
            }
          ],
          "output-key-mapping": [
            {
              "resource-name": "vsn_private_ip_0",
              "resource-value": "${vsn_private_ip_0}"
            }
          ]
        }
      ]
    },
    {
      "capability-name": "unresolved-composite-data",
      "key-mapping": [
        {
          "output-key-mapping": [
            {
              "resource-name": "volume-group-name",
              "resource-value": "${volume_group_name}"
            },
            {
              "resource-name": "vf-module-name",
              "resource-value": "${vf_module_name}"
            },
            {
              "resource-name": "vnfc-name",
              "resource-value": "${vsn_name_0}"
            },
            {
              "param-name": "ipv4-oam-address",
              "param-value": "${vsn_private_ip_1}"
            },
            {
              "param-name": "ipv4-oam-address-prefix",
              "param-value": "${onap_private_net_cidr}"
            }
          ]
        }
      ]
    }
  ]
}