{ 
    "query-parameters": { 
        "named-query": { 
            "named-query-uuid": "f199cb88-5e69-4b1f-93e0-6f257877d066" 
        } 
    }, 
    "instance-filters": { 
        "instance-filter": [ 
            { 
                "vserver": 
                { 
                    "vserver-name": "${vserver_name}" 
                }
            } 
        ] 
    } 
}