{
  "uniqueId": "${catalog_resource_id}${milli_timestamp}",
  "posX": 406,
  "posY": 248,
  "name": "${catalog_resource_name}",
  "componentVersion": "1.0",
  "originType": "VF",
  "icon": "defaulticon",
  "componentUid": "${catalog_resource_id}"
}