[submodule "kubernetes/aai"]
	path = kubernetes/aai
	url = ../aai/oom
        branch = master
        ignore = dirty
[submodule "kubernetes/robot"]
	path = kubernetes/robot
	url = ../testsuite/oom
        branch = .
        ignore = dirty
        
[submodule "kubernetes/clamp"]
	path = kubernetes/clamp
	url = ../clamp/oom
	branch = .
	ignore = dirty
