[submodule "kubernetes/aai"]
  path = kubernetes/aai
  url = ../aai/oom
  branch = guilin
  ignore = dirty
[submodule "kubernetes/robot"]
  path = kubernetes/robot
  url = ../testsuite/oom
  branch = guilin
  ignore = dirty

