[submodule "kubernetes/aai"]
	path = kubernetes/aai
	url = ../aai/oom
        branch = elalto
        ignore = dirty
[submodule "kubernetes/robot"]
	path = kubernetes/robot
	url = ../testsuite/oom
        branch = elalto
        ignore = dirty
        
