[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group saml/onap-gerrit-oom-committers
	read = group GitHub Replication
[project]
	description = Introduces the ONAP Platform OOM (ONAP Operations Manager) to efficiently Deploy, Manage, Operate the ONAP platform and its components (e.g. MSO, DCAE, SDC, etc.) and infrastructure (VMs, Containers).
