# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.

# k8s scripts
ete-k8s.sh
demo-k8s.sh
