<?xmlversion="1.0"encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="mariadb">
  <resources>
     <resource-root path="mariadb-java-client-1.5.4.jar"/>              
  </resources>
  <dependencies>
     <module name="javax.api"/>
     <module name="javax.transaction.api"/>
  </dependencies>
</module>