{
	"policyConfigType": "BRMS_PARAM",
	"policyName": "${policy_name}",
	"policyDescription": "Create BRMS Param policy",
	"attributes": {
		"RULE": {
			"templateName": "ClosedLoopDemo_closedLoopControlName",
			"aaiNamedQueryUUID": "2",
			"aaiPassword": "2",
			"aaiPatternMatch": "2",
			"aaiURL": "2",
			"actor": "2",
			"appcTopic": "2",
			"closedLoopControlName": "2",
			"msoPassword": "2",
			"msoURL": "2",
			"msoUsername": "2",
			"aaiUsername": "3"
		}
	}
}
