# Configuration file for externalSchemaRepoGenerator Makefile
# Remember about escaping special characters, e.g. in REPOSITORY_URL

# ConfigMap configuration
SPEC_CONFIGMAP_FILENAME=stndDefined-schemas-configmap-spec.yaml
K8S_CONFIGMAP_NAME=stnd-defined-configmap
SNIPPET_FILENAME=ves-snippet.md

# Source repository configuration
REPOSITORY_URL_HTTPS=https\://forge.3gpp.org/rep/sa5/MnS.git
REPOSITORY_BRANCH="SA88-Rel16 SA89-Rel17"
SCHEMAS_LOCATION=OpenAPI

# Vendor description
VENDOR_NAME=3gpp