[{
    "orgId": null,
    "managerId": null,
    "firstName": "Demo",
    "middleInitial": null,
    "lastName": "User",
    "phone": null,
    "email": "demo@email.com",
    "hrid": null,
    "orgUserId": "demo",
    "orgCode": null,
    "orgManagerUserId": null,
    "jobTitle": null,
    "loginId": "demo",
    "active": false,
    "roles": [{
        "id": 1,
        "name": "View"
    }]
}]