{
    "server": {
        "name": "${name}",
        "imageRef": "${imageRef}",
        "flavorRef": "${flavorRef}",
        "config_drive": true,
        "OS-DCF:diskConfig": "MANUAL",
        "metadata": {
            "${name}": "Server for attaching VVG"
        },
        "networks": [
            {
                "uuid": "00000000-0000-0000-0000-000000000000"
            }
        ]
    }
}