{
    "volume": {
        "display_name": "${name}",
        "display_description": "${description}",
        "size": ${size},
        "volume_type": "${type}",
        "availability_zone": "${availability_zone}"
    }
}