# Daexim directory location
# absolute path or path relative to Karaf home directory
# property substitution (interpolation) currently only supported for "${karaf.home}", no others (hard-coded) -- M.
daexim.dir={{ .Values.persistence.daeximPath }}