lfdocs-conf~=0.7.5
funcparserlib~=1.0.0a0
sphinxcontrib.blockdiag~=2.0.0
sphinxcontrib-needs<0.6.0
sphinxcontrib.plantuml~=0.21
sphinxcontrib.nwdiag~=2.0.0
sphinxcontrib-seqdiag~=2.0.0
sphinxcontrib-swaggerdoc~=0.1.7
sphinx-rtd-theme~=1.0.0
