{
  "name": "${license_agreement_name}",
  "description": "vendor license agreement",
  "requirementsAndConstrains": "abcdef",
  "licenseTerm": {
    "choice": "Fixed_Term",
    "other": ""
  },
  "addedFeatureGroupsIds": [
    "${feature_group_id}"
  ]
}