{
  "name": "${software_product_name}",
  "description": "vendor software product",
  "category": "resourceNewCategory.generic",
  "subCategory": "resourceNewCategory.generic.abstract",
  "licensingVersion": "1.0",
  "vendorName": "${vendor_name}",
  "vendorId": "${vendor_id}",
  "icon": "icon",
  "licensingData": {
    "licenseAgreement": "${license_agreement_id}",
    "featureGroups": [
      "${feature_group_id}"
    ]
  }
}